<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlConn" connectionString="Server=MACHADO;Initial Catalog=Testes;User Id=sa;Password=developer" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ElasticSearch" value="http://localhost:9200" />
    <add key="ElasticMainIndex" value="aoutro" />
    <!--<add key="ElasticMainIndex" value="hcoffice" />-->
    <add key="ElasticProcuradorIndex" value="procurador" />
    <add key="ElasticTitularIndex" value="titular" />
    <add key="ElasticDespachoIndex" value="despacho" />
    <add key="ElasticClasseIndex" value="classe" />
    <add key="ElasticCfe4Index" value="cfe4" />
    <add key="ElasticClasseAfinidadeIndex" value="classeafinidade" />
    <add key="ElasticApresentacaoIndex" value="apresentacao" />
    <add key="ElasticPaisIndex" value="pais" />
    <add key="ElasticEstadoIndex" value="estado" />
    <add key="ElasticAtributoIndex" value="atributo" />
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>