
CREATE TRIGGER TRIGGER_PROCESSO ON PROCESSO
INSTEAD OF INSERT
AS
BEGIN
  IF EXISTS (
			  SELECT
				*
			  FROM
				dbo.PROCESSO PRO
				JOIN Inserted INS ON INS.NUMERO = PRO.NUMERO
			)
	BEGIN
		UPDATE
		  PRO
		SET
		  --PRO.NUMERO = INS.NUMERO,
		  PRO.NOME_TITULAR = COALESCE(INS.NOME_TITULAR, PRO.NOME_TITULAR),
		  PRO.NOME_PROCURADOR = COALESCE(INS.NOME_PROCURADOR, PRO.NOME_PROCURADOR),
		  PRO.MARCA = COALESCE(INS.MARCA, PRO.MARCA),
		  PRO.MARCA_ORTOGRAFADA = COALESCE(INS.MARCA_ORTOGRAFADA, PRO.MARCA_ORTOGRAFADA),
		  PRO.PRIORIDADE = COALESCE(INS.PRIORIDADE, PRO.PRIORIDADE),
		  PRO.DATA_PRIORIDADE = COALESCE(INS.DATA_PRIORIDADE, PRO.DATA_PRIORIDADE),
		  PRO.NOME_PAIS_PRIORIDADE = COALESCE(INS.NOME_PAIS_PRIORIDADE, PRO.NOME_PAIS_PRIORIDADE),
		  PRO.TIPO_APRESENTACAO = COALESCE(INS.TIPO_APRESENTACAO, PRO.TIPO_APRESENTACAO),
		  PRO.TIPO_NATUREZA = COALESCE(INS.TIPO_NATUREZA, PRO.TIPO_NATUREZA),
		  PRO.CLASSE_INTERNACIONAL = COALESCE(INS.CLASSE_INTERNACIONAL, PRO.CLASSE_INTERNACIONAL),
		  PRO.CLASSE_1 = COALESCE(INS.CLASSE_1, PRO.CLASSE_1),
          PRO.CLASSE_2 = COALESCE(INS.CLASSE_2, PRO.CLASSE_2),
		  PRO.CLASSE_3 = COALESCE(INS.CLASSE_3, PRO.CLASSE_3),
		  PRO.ESPECIFICACAO = COALESCE(INS.ESPECIFICACAO, PRO.ESPECIFICACAO),
		  PRO.APOSTILA = COALESCE(INS.APOSTILA, PRO.APOSTILA),
		  PRO.NUMERO_REFERENCIA = COALESCE(INS.NUMERO_REFERENCIA, PRO.NUMERO_REFERENCIA),
		  PRO.DATA_DEPOSITO = COALESCE(INS.DATA_DEPOSITO, PRO.DATA_DEPOSITO),
		  PRO.DATA_CONCESSAO = COALESCE(INS.DATA_CONCESSAO, PRO.DATA_CONCESSAO),
		  PRO.DATA_VIGENCIA = COALESCE(INS.DATA_VIGENCIA, PRO.DATA_VIGENCIA)
		FROM
		  dbo.PROCESSO PRO
		  JOIN Inserted INS ON INS.NUMERO = PRO.NUMERO
	END
	ELSE
	BEGIN
		INSERT INTO dbo.PROCESSO
		SELECT
		  *
		FROM
		  Inserted
		
	END

END

GO