@{
    ViewBag.Title = "Falha no login";
}

<div id="content-header">
    <h1>@ViewBag.Title</h1>
</div>

<div id="content-container">
    <div class="row">
        <h3 class="text-danger">Falha no login utilizando serviço externo.</h3>
    </div>
</div>
