@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Confirmação de reset de senha";
}

<div id="content-header">
    <h1>@ViewBag.Title</h1>
</div>


<div id="content-container">
    <div class="row">
        <p>
            Sua senha foi resetada. Por favor @Html.ActionLink("clique aqui para efetuar login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
